<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Things</title>
</head>

<body>
  <header>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'about' %}">About</a>
    </nav>
  </header>
  <main>
    {% block content %}
    <!-- child template content goes here -->
    {% endblock content %}
  </main>
  <footer>
    <p>@codefellows</p>
  </footer>
</body>

</html>
